body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    color: #eec965;
    display: flex;
}

.title-1 {
    background: #dd5f40;
    /* flex-shrink: 100; */
}

.title-2 {
    background: #3d483a;
}

.title-3 {
    background: #468e5d;
}

h1 {
    flex-basis: 200px;
    flex-shrink: 0;
}