@import 'https://fonts.googleapis.com/css?family=Raleway';
@import 'http://fonts.googleapis.com/css?family=Share:400,700';
@import 'http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,700s';

// Bloque -> albumList (ul)
// Elemento -> each item of the list (li)
// Modificador -> Changes the visual state (fav)

html {
    font-family: 'Raleway', sans-serif;
}

/*block*/
.content {
  max-width: 500px;
  margin: 0 auto;
  background-color: rgba(120, 120, 120, 0.3);
}

/*block*/
.albumList {
  list-style-type: none;
}

/*block-element*/
.albumList-item {
  font-size: 10pt;
}

/*block-element--modifier*/
.albumList-item--fav {
  font-weight: 600;
  color: magenta;
  font-size: 12pt;
}

// TODO: Discuss on class what to do with this element.
.fav {
  font-size: 14pt;
  color: darkblue;
  text-decoration: underline;
}

br {
  margin-top: 10px;
  margin-bottom: 10px;
}
