body {
    background-color: #1f1f1f;
    color: #bfbfbf;
    height: 1000px;
}

h1 {
    font-weight: normal;
}

em {
    color: yellowgreen;
}

.box {
    width: 100px;
    height: 100px;
    margin-bottom: 10px;
    margin-right: 10px;
}

.blue-box {
    background: lightblue;
    float: left;
}

.green-box {
  background: lightgreen;
  float: left;
}

h1 {
  clear: both;
}
