:root {
    height: 100%;
}

body {
    font-family: sans-serif;
    height: 100%;
    margin: 0;
}

div.flex-container {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    align-items: baseline;
    min-height: 100%;
}

h1 {
    font-weight: 500;
    margin: 0 0 5px 0;
}

.section {
    box-sizing: border-box;
    margin: 5px;
    color: white;
    flex: 1;
}

.flex-container div:first-child {
    background-color: lightpink;
}

.flex-container div:nth-child(2) {
    background-color: lightskyblue;
    align-self: flex-end;
}

.flex-container div:nth-child(3) {
    background-color: lightgreen;
}
